aside(id="dialog",class='mdc-dialog')
  div(class='mdc-dialog__surface')
    header(class='mdc-dialog__header')
      h2(class='mdc-dialog__header__title')
    section(class='mdc-dialog__body')
    footer(class='mdc-dialog__footer')
      button(type='button',class='mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel')='Cancel'
      button(type='button',class='mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept')='Continue'

aside(id="listdialog",class='mdc-dialog-with-list')
  div(class='mdc-dialog__surface')
    header(class='mdc-dialog__header')
      h2(class='mdc-dialog__header__title')
    section(class='mdc-dialog__body mdc-dialog__body--scrollable')
    footer(class='mdc-dialog__footer')
      button(type='button',class='mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel')='Cancel'
      button(type='button',class='mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept')='Continue'