- var menuItems = typeof menu === 'function' ? menu() : {};
aside(class='mdc-temporary-drawer',data-mdc-auto-init='MDCTemporaryDrawer')
  nav(class='mdc-temporary-drawer__drawer')
    header(class='mdc-temporary-drawer__header')
      div(class='mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary')= siteName
    nav(class='mdc-temporary-drawer__content mdc-list-group')
      if Object.keys(menuItems).length
        div(class='mdc-list')
          for item, path in menuItems
            a(class='mdc-list-item',href='/' + path,data-mdc-tabindex-handled='true',tabindex='-1')=item.title
