div(class='mdc-snackbar',aria-live='assertive',aria-atomic='true',aria-hidden='true',data-snackbar-messages=JSON.stringify(messages))
  div(class='mdc-snackbar__text')
  div(class='mdc-snackbar__action-wrapper')
    button(type='button',class='mdc-button mdc-snackbar__action-button',aria-hidden='true')='OK'
