extends layout
block content
  form(action='/client/registration',method='post')
    h1 Register a client
    p
      label(for='name') Name:
      input(id='name',type='text',value='', name='name')
    p.actions
      input.yes(type='submit',value='Register the client')