extends layout
block content
  section
    header
      h1 Services
    div.content
      ul
        each service, id in services
          li
            if service.definition.info['x-rut-frontend']
              a.frontend(href= service.definition.info['x-rut-frontend']) #{service.name}
            unless service.definition.info['x-rut-frontend']
              span.no-frontend #{service.name}
            ul
              li
                a(href= '/editor/' + service.name + '/' + service.version) Editor
              li
                a(href= '/docs/' + service.name + '/' + service.version) Documentation
              li
                a(href= '/authorization?client_id=' + service.id + '&response_type=token&redirect_uri=/account') Authorize

