doctype html
html
  head
    link(rel='stylesheet',href='/css/styles.css')
  body
    header#page-header
      div
        h1#page-title
          a(href='/') Rut
      unless noUserHeader
        ul.user
          unless user
            li
              a.login(href='/login') Log in
            li
              a.register(href='/register') Register
          if user
            li
              a.account(href='/account')= user.username
            li
              a.logout(href='/logout') Log out
    div#page-content
      block content
    footer#page-footer
