*,
*:before,
*:after {
  box-sizing: border-box;
}

/*http://codepen.io/MadeByMike/pen/RWJyML*/

body {
  font-size: 12px;
  line-height: 1.618;
}
@media screen and (min-width: 600px) {
  body {
    font-size: calc(12px  +  6  * ((100vw -  600px ) / 300 ));
  }
}
@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
}



body {
  /* line-height: 1.618; */
  font-family: sans;
  position: relative;
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #ddd;
  height: 100vh;
  /* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSAiaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmlld0JveD0iMSAxIDYgNCI+PGltYWdlIGZpbHRlcj0idXJsKCNiKSIgd2lkdGg9IjgiIGhlaWdodD0iNiIgeGxpbms6aHJlZj0iZGF0YTppbWFnZS9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFBZ0FBQUFHQ0FNQUFBREoyeS9KQUFBQWlsQk1WRVdWc0YyOGhqbG1hTEtpazZ0c2NLTnFaS09acjUxZlo1UnhjNUdqdUk5V1RZSm5hSUJzZlhCVmIyNklwV0tNbEZkbGdsVm5kbFYxaGxSbmExUnVlMUU1U2xIL3EwdUpjMHJpbUVoeGRrQlhiai9MaER0YWh6cWpnanBjY3pwOW5UbnZtemxaV1ROWVpTODVhaWxtVUNoTFhTWXBkU0lDT1NFWUlpRk1hQjR5VVJBbUhBcE9TZ0FWRHdCK0pBSXJBQUFBTG5SU1RsUCsvdjcrL3Y3Ky92NysvdjcrL3Y3Ky92NysvdjcrL3Y3Ky92NysvdjcrL3Y3Ky92NysvdjcrL3Y3Ky92NytpTmRPT3dBQUFEMUpSRUZVQ05jRndZTUJBREVBQkxEcjI3WlpkLy8xbW9ESjBJdFNwOGUzMUg0UUp4eVR5TndDMm1BbmJYN2lWcmlHbVI1TitZQ3M0L1pXM1c4QlpXVUVEWE9nN09zQUFBQUFTVVZPUks1Q1lJST0iLz48ZmlsdGVyIGlkPSJiIj48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIuNSIgLz48L2ZpbHRlcj48L3N2Zz4="); */
  background-repeat: no-repeat;
  background-size: cover;
}

a,
a:link {
  color: #dda;
  text-decoration: none;
}

a:hover {
  color: #ffa;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
th,
label,
legend {
  font-weight: 100;
}
h1,
h3,
h5 {
  text-transform: uppercase;
}

input,
label {
  font-size: 1rem;
  display: inline-block;
}

input {
  border: 1px solid;
  border-width: 0 0 1px 0;
  background: transparent;
  color: inherit;
  padding: 4px 8px;
  width: 100%;
}

label:hover {
}
label:focus {
  background-color: rgba(121,121,121,.5);
}

input:hover,
input:focus {
  color: #fff;
  /* background-image: linear-gradient(to bottom, transparent, rgba(121,121,121,.2)); */
  outline: none;
}

input:focus:not(.btn),
input:focus:not(type="button"),
input:focus:not(type="submit") {
  outline: none;
  box-shadow: 0 1px 0 0 currentColor;
}

button,
input[type=submit],
input[type=button] {
  width: auto;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: #333;
  background-color: #ddd;
}

button:hover,
input[type=submit]:hover,
input[type=button]:hover,
button:focus,
input[type=submit]:focus,
input[type=button]:focus {
  border: none;
  background-color: #eee;
  color: #222;
}

button.yes,
input[type=submit].yes,
input[type=button].yes {
  background-color: #338c33;
  color: #ddd;
}
button.yes:hover,
input[type=submit].yes:hover,
input[type=button].yes:hover,
button.yes:focus,
input[type=submit].yes:focus,
input[type=button].yes:focus {
  background-color: #4a4;
  color: #eee;
}

button.no,
input[type=submit].no,
input[type=button].no {
  background-color: #a33;
  color: #ddd;
}
button.no:hover,
input[type=submit].no:hover,
input[type=button].no:hover,
button.no:focus,
input[type=submit].no:focus,
input[type=button].no:focus {
  background-color: #a44;
  color: #eee;
}

button.link,
input[type=submit].link,
input[type=button].link {
  background-color: none;
}

form .actions {
  text-align: right;
}

form .actions button,
form .actions input[type=submit],
form .actions input[type=button] {
  margin-right: 1em;
  border: none;
}
form .actions button:last-child,
form .actions input[type=submit]:last-child,
form .actions input[type=button]:last-child {
  margin-right: 0;
}

#page-header,
#page-content,
#page-footer {
  /* position: absolute; */
  /* width: 100%; */
  padding: 0 1vw;
}

#page-header > *,
#page-content > *,
#page-footer > * {
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #page-header > *,
  #page-content > *,
  #page-footer > * {
    /* max-width: 55rem; */
  }
}

#page-header,
#page-footer {
  background-color: rgba(0, 0, 0, 0.3);
}

#page-header {
  top: 0;
  height: 8vh;
}

#page-content {
  /* overflow: auto; */
  /* top: 8vh; */
  /* bottom: 8vh; */
  padding: 1vh 1vw;
}

#page-footer {
  /* bottom: 0; */
  /* height: 4vh; */
}


#page-title,
#page-header .user,
#page-header .user li {
  padding: 0;
  margin: 0;
}

#page-title {
  float: left;
}
#page-header .user {
  float: right;
}

#page-header .user {
  list-style: none;
  float: right;
  margin: 0;
}
#page-header .user li {
  display: inline-block;
  margin-right: 1em;
}
#page-header .user li:last-of-type {
  margin: 0;
}


.messages {
  position: fixed;
  top: 8vh;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.218s ease-in-out;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}
.messages:empty {
  opacity: 0;
}

.messages ul, .messages li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.messages ul {
  background-color: #4e4e4e;
  color: #aaa;
}
.messages .error {
  background-color: #a33;
}

.message ul > li {
  padding: 1vh;
}





.messages {
  position: fixed;
  top: 8vh;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.218s ease-in-out;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}
.messages:empty {
  opacity: 0;
}

.messages ul, .messages li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.messages ul {
  background-color: #4e4e4e;
  color: #aaa;
}
.messages .error {
  background-color: #a33;
}

.message ul > li {
  padding: 1vh;
}



body.dialog-open {
  position: relative;
}

.dialog {
  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog .actions,
.dialog .inner {
  position: absolute;
  left: 2vw;
  right: 2vw;
}

.dialog .actions {
  text-align: right;
  top: 2vh;
  height: 4vh;
  line-height: 4vh;
}

.dialog .inner {
  background-color: #aaa;
  bottom: 2vh;
  top: 8vh;
}

.dialog .dismiss {
  display: inline-block;
  background-color: #aaa;
  cursor: pointer;
  padding: 0 8px;
}

.dialog iframe,
.dialog textarea {
  border: none;
  width: 100%;
  height: 100%;
}

.label {
  font-size: 0.8em;
  border-radius: 2px;
  padding: 0.2em 0.4em;
  color: #fff;
  font-weight: 700;
}

h1 .label,
h2 .label,
h3 .label,
h4 .label {
  font-size: 0.6em;
  vertical-align: top;
}

.label-light {
  background-color: #ddd;
  color: #000;
}