/*
:root {
  --mdc-theme-primary: #3fa535;
  --mdc-theme-accent: #a52657;
}
*/



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


main a,
main a:link,
main a:visited {
  color: var(--mdc-theme-primary, #3fa535);
  text-decoration: none;
  text-shadow: -2px 0 1px #fff,
               2px 0 1px #fff,
               -2px 0 0 #fff,
               2px 0 0 #fff,
               -1px 0 1px #fff,
               1px 0 1px #fff,
               -1px 0 0 #fff,
               1px 0 0 #fff;
  box-shadow: 0 0 0 0 #fff inset,
              0 0 0 0 #fff inset;
  transition: box-shadow 0.218s ease;
}
main a:hover {
  box-shadow: 0 -2px 0 0 #fff inset,
              0 -3px 0 0 currentColor inset;
}

.x-markdown h1,
.x-markdown h2,
.x-markdown h3,
.x-markdown h4,
.x-markdown h5,
.x-markdown h6 {
  font-weight: 300;
}

.x-markdown pre {
  border-radius: 3px;
  padding: 1em;
  background-color: #eee;
}


.mdc-toolbar__title a {
  color: var(--mdc-theme-text-primary-on-primary, white);
  text-decoration: none;
}

#main-wrapper {
  display: flex;
  flex-direction: row;
}
#main-wrapper > main {
  flex-grow: 1;
}
/*
main.mdc-toolbar-fixed-adjust:before {
  content:'';
  overflow: hidden;
  display: block;
}
*/

.x-rows,
.x-columns {
  display: flex;
}
.x-rows {
  flex-direction: column;
}

.x-columns {
  flex-direction: row;
}

.x-rows > .x-row,
.x-columns > .x-column {
  flex-grow: 1;
}
.x-rows > .x-grow,
.x-columns > .x-grow {
  flex-grow: 2;
}
.x-rows > .x-no-grow,
.x-columns > .x-no-grow {
  flex-grow: 0;
}

:root {
  --spacing: 0.5rem;
}
.x-padded {
  padding: var(--spacing);
}
.x-padded--small {
  padding: calc(var(--spacing) * 0.5);
}
.x-padded--large {
  padding: calc(var(--spacing) * 2);
}

.x-padded--horizontal {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}
.x-padded--horizontal--small {
  padding-left: calc(var(--spacing) * 0.5);
  padding-right: calc(var(--spacing) * 0.5);
}
.x-padded--horizontal--large {
  padding-left: calc(var(--spacing) * 2);
  padding-right: calc(var(--spacing) * 2);
}
.x-padded--left {
  padding-left: var(--spacing);
}
.x-padded--left--small {
  padding-left: calc(var(--spacing) * 0.5);
}
.x-padded--left--large {
  padding-left: calc(var(--spacing) * 2);
}
.x-padded--right {
  padding-right: var(--spacing);
}
.x-padded--right--small {
  padding-right: calc(var(--spacing) * 0.5);
}
.x-padded--right--large {
  padding-right: calc(var(--spacing) * 2);
}

.x-padded--vertical {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}
.x-padded--vertical--small {
  padding-top: calc(var(--spacing) * 0.5);
  padding-bottom: calc(var(--spacing) * 0.5);
}
.x-padded--vertical--large {
  padding-top: calc(var(--spacing) * 2);
  padding-bottom: calc(var(--spacing) * 2);
}
.x-padded--top {
  padding-top: var(--spacing);
}
.x-padded--top--small {
  padding-top: calc(var(--spacing) * 0.5);
}
.x-padded--top--large {
  padding-top: calc(var(--spacing) * 2);
}
.x-padded--bottom {
  padding-bottom: var(--spacing);
}
.x-padded--bottom--small {
  padding-bottom: calc(var(--spacing) * 0.5);
}
.x-padded--bottom--large {
  padding-bottom: calc(var(--spacing) * 2);
}


.x-spaced {
  margin: var(--spacing);
}
.x-spaced--small {
  margin: calc(var(--spacing) * 0.5);
}
.x-spaced--large {
  margin: calc(var(--spacing) * 2);
}

.x-spaced--horizontal {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
}
.x-spaced--horizontal--small {
  margin-left: calc(var(--spacing) * 0.5);
  margin-right: calc(var(--spacing) * 0.5);
}
.x-spaced--horizontal--large {
  margin-left: calc(var(--spacing) * 2);
  margin-right: calc(var(--spacing) * 2);
}

.x-spaced--left {
  margin-left: var(--spacing);
}
.x-spaced--left--small {
  margin-left: calc(var(--spacing) * 0.5);
}
.x-spaced--left--large {
  margin-left: calc(var(--spacing) * 2);
}
.x-spaced--right {
  margin-right: var(--spacing);
}
.x-spaced--right--small {
  margin-right: calc(var(--spacing) * 0.5);
}
.x-spaced--right--large {
  margin-right: calc(var(--spacing) * 2);
}

.x-spaced--vertical {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}
.x-spaced--vertical--small {
  margin-top: calc(var(--spacing) * 0.5);
  margin-bottom: calc(var(--spacing) * 0.5);
}
.x-spaced--vertical--large {
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 2);
}
.x-spaced--top {
  margin-top: var(--spacing);
}
.x-spaced--top--small {
  margin-top: calc(var(--spacing) * 0.5);
}
.x-spaced--top--large {
  margin-top: calc(var(--spacing) * 2);
}
.x-spaced--bottom {
  margin-bottom: var(--spacing);
}
.x-spaced--bottom--small {
  margin-bottom: calc(var(--spacing) * 0.5);
}
.x-spaced--bottom--large {
  margin-bottom: calc(var(--spacing) * 2);
}




.x-toolbar__user-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.x-toolbar__user-links > li {
  margin: 0;
  padding: 0 var(--spacing) 0 calc(var(--spacing) - 1px);
  border-color: white;
  border-right: 1px solid var(--mdc-theme-text-primary-on-primary, white);
}
.x-toolbar__user-links > li:last-child {
  padding-right: var(--spacing);
  border-right: 0;
}



.x-toolbar__user-links a,
.x-toolbar__user-links a:link,
.x-toolbar__user-links a:hover,
.x-toolbar__user-links a:visited {
  color: white;
  color: var(--mdc-theme-text-primary-on-primary, white);
  text-decoration: none;
}